<h1> Shopping list name: <%= @shoppinglist.name %></p> </h1>

<h3> Recipes included: </h3>
<ul>
<% @items.each do |item| %>
    <li><%= item.recipe.title %> </li>
<% end %>
</ul>


<h3> Items to purchase: </h3>
<ul>

<table class="table">
<tr>
  <th>Item</th>
  <th>Quantity</th>
  <th>Measurement</th>
</tr>
<% @collapselist.each do |x,y| %>
  <tr>
    <td><p><%= x %></p></td>
    <td><p><%= y.first %></p></td>
    <td><p><%= y.last %></p></td>
</tr>
<% end %>
</table>
</ul>

